#title {
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    background: rgba(0,0,0,0.2);
}
#title-text {
    display: inline-block;
    transform: perspective(5cm) rotateX(25deg);
}
.title-sup {
    font-size: .4em; 
    vertical-align: top;
}