#title {
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
}
.title-sup {
    font-size: .4em; 
    vertical-align: top;
}